doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav 
      ul 
        li 
          a(href="/users") Liste de utilisateurs 
        li 
          a(href="/users/create") Ajouter utilisateur 

    block content
